[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = {extras = ["standard"], version = "*"}
pydantic = "*"
psycopg2 = "*"
dotenv = "*"
jwt = "*"
openai = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
psycopg2-binary = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.13"
